<template>
  <div id="welcome">
    <h1>Login Area</h1>
    <p>
      Welcome Here!!! <br />
      You are logged in!!!
    </p>
  </div>
</template>

<script>
export default {
  name: "Welcome",
  data() {
    return {};
  },
};
</script>

<style scoped>
#welcome {
  background-color: #dda0dd;
  border: 1px solid #2c3e50;
  padding: 20px;
  margin-top: 10px;
}
</style>
